
<div class="card mb-2">
    <div class="card-body p-2 p-sm-3">
        <div class="post-item forum-item">
            <div class="threadHeader">
                <div class="thread-info">
                <a href=""><img
                    src=""
                    class="mr-3 rounded-circle" width="50" alt="User" />Dijkstra</a>
                </div>
                <div class="text-muted infoIcons">
                    <span class="d-sm-inline-block"><i class="far fa-eye"></i> 219</span>
                    <span><i class="far fa-comment"></i> 1</span>
                </div>
            </div>
            <param  id="post_value" value='{{this._id}}'>
            <div class="start-edit-container">
                <div class="post-date">started on <span class="font-weight-bold"> 14/02/2024</span></div>
                {{#if this.isEdited}}
                <div class="comment-time"> edited <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg> <span class="text-secondary font-weight-bold">13 minutes ago</span></div>
                {{/if}}
                </div>
            <div class="media-body">
                <h6><a  href='/postComment/{{this._id}}'
                        class="text-body">{{this.title}}</a></h6>
                <p class="text-secondary">
                    {{trim this.content 90}}
                    ...
                </p>
            </div>
        </div>

        <div class="post-actions"> 
            {{#if this.isUpvoted}}
            <div class="upvote active" id="upvoteBtnPost">
            {{else}}
            <div class="upvote" id="upvoteBtnPost">
            {{/if}}
                <i class="fa fa-thumbs-up solid"></i>
                <span>{{this.upvote}}</span>
                <param  id="upvote_value" value='{{this.upvote}}'>
                <param  id="upvote_bool" value='{{this.isUpvoted}}'>
            </div>
            
            {{#if this.isDownvoted}}
            <div class="downvote active" id="downvoteBtnPost">
            {{else}}
            <div class="downvote" id="downvoteBtnPost">
            {{/if}}
                <i class="fa fa-thumbs-down solid"></i>
                <span>{{this.downvote}}</span> 
                <param  id="downvote_value" value='{{this.downvote}}'> 
                <param  id="downvote_bool" value='{{this.isDownvoted}}'>
            </div>
            <!--onclick="sendID('{{this._id}}')"-->
            <a  href='/postComment/{{this._id}}'>
            <button class="commentBtn btn btn-primary-outline">Comment/View Comments... <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                </svg></button></a>

        </div>

    </div>
</div>



