<!DOCTYPE html>
<head>
    <title> Forums </title>
    {{>loadCssIndex}}
</head>
<body>
    <div class="container">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <div class="inner-sidebar">

                    <div class="inner-sidebar-body p-0">
                        <div data-simplebar="init">
                            <div class="simplebar-wrapper" >
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset">
                                        <div class="simplebar-content-wrapper" >
                                            {{>indexSidebar}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="inner-main">

                    <div class="inner-main-header">                       
                        {{>navbar2}}
                    </div>



                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="threadHeader">
                                    <div class="thread-info">
                                    <a href="" data-toggle="modal" data-target="#forum-content"><img
                                        src=""
                                        class="mr-3 rounded-circle" width="50" alt="User" />{{username}}</a>
                                    </div>
                                    <div class="text-muted infoIcons">
                                        <span class="d-sm-inline-block"><i class="far fa-eye"></i> 219</span>
                                        <span><i class="far fa-comment"></i> 1</span>
                                    </div>
                                    
                                </div>
                                <div class="start-edit-container">
                                {{#if isEdited}}
                                <div class="comment-time"> edited <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                  </svg> <span class="text-secondary font-weight-bold">13 minutes ago</span></div>
                                {{/if}}
                                <div class="post-date">started on <span class="font-weight-bold"> 14/02/2024</span></div>
                                </div>
                                <param  id="post_value" value='{{_id}}'>
                                <div class="media forum-item">
                                    <div class="media-body">
                                        <p>{{title}}</p>
                                        <p>{{content}}</p>

                                        <div class="signature">
                                            <p>When I was your age, I received hundreds of love letters from my friends...</p>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                                <div class="post-actions {{#if isLoggedIn}} enable {{else}} disable{{/if}} data-id="{{_id}}""> 
                                    <i class="fas fa-thumbs-up post {{#findElement upvote session.user.id}}active{{/findElement}}" data-id="{{_id}}"></i>
                                    <span class="vote-count">{{totalVote}}</span>
                                    <i class="fas fa-thumbs-down post {{#findElement downvote session.user.id}}active{{/findElement}}" data-id="{{_id}}"></i>
                                   
                                   {{#if isLoggedIn}}
                                    <button class="commentBtn btn btn-primary-outline" data-toggle="modal"
                                    data-target="#addPost">Comment... <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                                      </svg></button>
                                    {{else}}
                                    <button class="commentBtn btn btn-primary-outline" data-toggle="modal"
                                    data-target="#LogInFirst">Comment... <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                                      </svg></button>
                                    {{/if}}

                                </div>

                            </div>
                        </div>
                        <div class="card mb-2">
                            <select class="custom-select w-auto">
                                <option selected value="1">Latest</option>
                                <option value="2">Top</option>
                                <option value="3">Controversial</option>
                            </select>
                            <div class="card-body p-2 p-sm-3">
                                {{#if PostComments}}
                                    {{#each PostComments}}
                                    {{> comments this parent=..}}
                                    {{/each}}
                                {{else}}
                                <p>Not comments yet...</p>
                                {{/if}}
                                
                            </div>
                            <ul class="Navpagination pagination pagination-sm  justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link has-icon" href="javascript:void(0)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                                      </svg></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item disabled">
                                    <a class="page-link has-icon" href="javascript:void(0)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                      </svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                
            </div>

            
        <div class="modal fade" id="forum-content1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="posterInfo">
                        <a href="" class="card-link">
                            <img src=""
                                class="rounded-circle" width="50" alt="User" />
                        </a>
                        <a href="" class="text-secondary">Dijkstra</a>
                        </div>
                        
                        <button type="button" class="close" data-dismiss="modal">
                            <span>x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="Title-post">
                            <h5 class="mt-1">{{this.title}}</h5>
                            <div class="infoIcons text-muted">
                            
                                <span><i class="far fa-eye"></i> 219</span>
                                <span><i class="far fa-comment"></i> 1</span>
                            </div>
                        </div>
                        
                        <div class="media-body ml-3">
                            <div class="mt-3 font-size-sm">
                                <p>
                                    {{this.content}}
                                </p>

                                <div class="signature">
                                    <p>When I was your age, I received hundreds of love letters from my friends...</p>
                                </div>

                                
                                <div class="interactThread">
                                    <div class="threadLikes">
                                        <div class="upvote">
                                        <i class="fa fa-thumbs-up solid"></i>
                                            <span>10</span>
                                        </div>
                                            
                                        <div class="downvote">
                                            <i class="fa fa-thumbs-down solid"></i>
                                            <span>3</span>  
                                        </div>
                                    </div>
                                            
                                    
                                    <div class="thread-actions">
                                        <button type="button" class="delBtn btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                            </svg> Delete</button>
                                        <button type="button" class="editBtn btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg> Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="modal fade" id="edit-forum" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="posterInfo">
                            <a href="" class="card-link">
                                <img src=""
                                    class="rounded-circle" width="50" alt="User" />
                            </a>
                            <a href="" class="text-secondary">Dijkstra</a>
                            <small class="text-muted ml-2">1 hour ago</small>
                            </div>
                            
                            <button type="button" class="close" data-dismiss="modal">
                                <span>x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="Title-post">
                                <h5 class="mt-1">How a love letter ruined every couples' Valentine's Day</h5>
                                <div class="infoIcons text-muted">
                                
                                    <span><i class="far fa-eye"></i> 219</span>
                                    <span><i class="far fa-comment"></i> 1</span>
                                </div>
                            </div>
                            
                            <div class="media-body ml-3">
                                <div class="mt-3 font-size-sm">
                                    <div contenteditable="true">
                                    <p>
                                        On the year 2000, computers were increasingly being adopted by couples as a means to communicate, 
                                        share photos and videos, etc. Time skip to Feburary 14th, 2000, a netizen of the Internet decided to 
                                        take advantage of the widespread adoption of Windows 95 and its security vulnerabilities. Using social 
                                        engineering, and taking advantage of the special day, the netizen had spread a computer worm through mail, 
                                        deceptively titled "ILOVEYOU" and containing the attachment "LOVE-LETTER-FOR-YOU.TXT.vbs". Because most people's 
                                        operating systems hid the file extension by default, this meant that unsuspecting victims who downloaded the ILOVEYOU 
                                        payload might not be aware that they had downloaded a malicious file. Eventually, the virus sent out messages to others 
                                        using the victim's friends list, and eventually, it spread to the whole world. This incident became the primary reason why 
                                        love letters had fallen in usage in recent times.
                                    </p></div>
                                        
                                        <div class="edit-actions">
                                            <button type="button" class="cancelChanges btn btn-light">Cancel</button>
                                            <button type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                              </svg>Make Changes</button>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="modal fade" id="delWarning" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <p class="modal-title" id="threadModalLabel">Delete Post</p>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure to delete this post?</p>
                            </div>
                            <div class="delete-actions">
                                <button type="button" class="cancelDelete btn btn-light">Cancel</button>
                                <button type="button" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                  </svg> Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            
            <div class="modal fade" id="addPost" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="createCommentPostForm">
                            <div class="modal-header">
                                <p class="modal-title" id="threadModalLabel">New Comment</p>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="threadContent">Comment</label>
                                    <textarea type="text" class="form-control" id="threadContent" placeholder="Enter Content"
                                        autofocus rows="5" name="content"></textarea>
                                </div>
                                <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                    <input type="file" class="custom-file-input" id="attatchFile" multiple />
                                    <label class="custom-file-label" for="attatchFile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                                      </svg> Attach a file</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_commentPost"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                  </svg> Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="LogInFirst" tabindex="-1" role="dialog">
                {{>modal}}
            </div>


        </div>
    </div>
    {{>loadJsIndex}}
</body>

</html>
